body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  background: #ECECEC;
  padding-bottom: 10%;
}

.home h1 {
  font-size: 4em;
  text-align: center;
  color: #C82C20;
  padding: 1% 0;
  border-bottom: 1px solid #ADADAD;
  background: #FFFFFF;
}

.home h2 {
  font-size: 2em;
  text-align: center;
  color: #BE2216;
  padding-top: 0.5%;
  margin: 0;
}

.home h3 {
  font-size: 1.7em;
  padding: 0.3em 0;
}

.active {
  text-decoration: underline;
  color: #33CCCC;
  cursor: pointer;
}

.inactive {
  color: #A2DFDF;
}

.cal-field {
  height: 10em;
  margin: 5% 5%;
}

.cal-field h5 {
  margin: 5% 0 7% 0;
  font-size: 1.3em;
}

.question .btn {
  background-color: #0f2e60 !important;
  color: white !important;
}

.question-nav .btn {
  margin: 0 0.5em 2em 0.5em !important;
}

.question h1 {
  font-size: 4em;
  text-align: center;
  color: #C82C20;
  padding: 1% 0;
  border-bottom: 1px solid #ADADAD;
  background: #FFFFFF;
}
.question h2 {
  font-size: 2em;
  text-align: center;
  color: #BE2216;
  padding: 0.5%;
}

.question h5, .question h3 {
  font-size: 1.5em;
  text-align: center;
  color: black;
  padding: 0.25%;
}

.question h5 {
  font-size: 1em;
}

.question-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin: 5px;
}
.card-headers {
  color: red;
  font-size: 24px;
  text-shadow: 1px 1px black;
}
